<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="./WEB-INF/templates/principal.xhtml">

    <ui:define name="styles">
        <link href="./css/inscricao.css" rel="stylesheet" type="text/css" />
    </ui:define>

    <ui:define name="metadata">
    </ui:define>

    <ui:define name="javascript">
    </ui:define>

    <ui:define name="content">
        <h:form>
            <div class="titulo-form">ADMINISTRADOR</div>
            <h:dataTable value="#{applicationContainer.logins}" var="o">
                <h:column>
                    <!-- column header -->
                    <f:facet name="header">Usuário</f:facet>
                    <!-- row record -->
                    <h:outputText value="#{o.usuario}"/>
                </h:column>
                <h:column>
                    <!-- column header -->
                    <f:facet name="header">Data/Hora</f:facet>
                    <!-- row record -->
                    <h:outputText value="#{o.date}"/>
                </h:column>
            </h:dataTable>
        </h:form>
    </ui:define>

</ui:composition>
